/*
Ashardalon Game CSS
*/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Modals */
.modal {
    position: absolute;

    width: 520px;
    height: 420px;

    margin: auto;
    top: 64px;
    left: 0;
    right: 0;

    background-color: rgba(244, 244, 244, 0.95);
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.modal header.modal-header {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;

    background-color: #393939;
    color: white;

    font-family: "arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

/* Entity info modal */
.modal-entityInfo { width: 620px; top: 120px; }

.modal-entityInfo .headerStrip {
    width: 100%;
    height: 150px;

    background-color: #246dbf;
}

.modal-entityInfo .headerStrip .entityIcon-wrapper {
    display: inline-block;
    vertical-align: top;
}
.modal-entityInfo .headerStrip img.entityIcon { height: 130px; max-width: 130px; margin: 10px 14px; }
.modal-entityInfo .entityCondition {
    position: absolute;
    width: 130px;
    margin: -42px 14px 0 14px;
    text-align: center;
}
.modal-entityInfo .entityCondition-condition {
    display: none; /* Entity conditions are hidden by default */

    color: gold;
    font-family: "helvetica", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.95);
    text-transform: uppercase;

}
.modal-entityInfo #entityCondition-downed { color: #ff2723; text-shadow: 0 0 8px rgba(0, 0, 0, 0.95); }

.modal-entityInfo .headerStrip .entityMeta-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

.modal-entityInfo .headerStrip .entityMeta-name-wrap {
    display: inline-block;
    margin-bottom: 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;

    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.85);
}
.modal-entityInfo .headerStrip .entityMeta-name-wrap .entityMeta-subtitle {
    font-size: 14px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.85);
}

.modal-entityInfo .headerStrip .entityMeta-items {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.modal-entityInfo .headerStrip .entityMeta-health {
    display: inline-block;
    vertical-align: middle;
}
.modal-entityInfo .headerStrip .entityMeta-health .entityMeta-health-1hp { height: 36px; }

.modal-entityInfo .headerStrip .entityMeta-items .entityMeta-items-item {
    height: 64px;
}

.modal-entityInfo .modal-body .entityInfo-tactics {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 360px;
    padding: 9px;

    font-family: "open sans", sans-serif;
    font-size: 15px;
}
.modal-entityInfo .modal-body .entityInfo-tactics ul strong { margin-right: 3px; }
.modal-entityInfo .modal-body .entityInfo-tactics ul li { margin-bottom: 10px; }

.modal-entityInfo .modal-body .entityInfo-stats {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px 8px;

    font-family: "open sans", sans-serif;
    font-size: 19px;
    text-shadow: 0 0 1px rgba(32, 32, 32, 0.32);
}
.modal-entityInfo .modal-body .entityInfo-stats h2 { margin: 0 0 12px 0; text-shadow: 2px 2px rgba(24, 24, 24, 0.4); }
.modal-entityInfo .modal-body .entityInfo-stats td.stat-name {
    font-weight: bold;
    padding-right: 14px;
}